[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

[*.{cs,vb}]
indent_style=tab